@charset "UTF-8";

body {
    background-color: LightGoldenRodYellow;
    font-family: Arial;
    font-size: 20px;
}

h1 {
    color: Maroon;
    background-color: GoldenRod;
}

h2 {
    color: DarkRed;
}

p {
    text-align: justify;
}
